<div class="container-fluid">

      <!-- <link rel="stylesheet" href="/ressources/css/donut.css"> -->
      <!-- <link rel="stylesheet" href="/ressources/css/cart.css"> -->

      <h2><%= title %></h2>
      <div class="card d-inline-flex w-25 p-2">
            <div class="card-body">
                  <h5>Total Sekolah</h5>
                  <div class="d-flex align-center justify-content-between">
                        <i class="bi bi-mortarboard" style="font-size: 30px;"></i>
                        <h3><%= totalSekolah %> </h3>
                  </div>
            </div>
      </div>
      <div class="card d-inline-flex w-25 p-2">
            <div class="card-body">
                  <h5>Total Periode Sinkronisasi</h5>
                  <div class="d-flex align-center justify-content-between">
                        <i class="bi bi-calendar-date-fill" style="font-size: 30px;"></i>
                        <h3><%= totalPeriod %> </h3>
                  </div>
            </div>
      </div>

      <!-- <script src="/ressources/js/cart.js"></script> -->
      <!-- <script src="/ressources/js/donut.js"></script> -->

</div>